@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}
.container_12{
    margin-left: auto;
    margin-right: auto;
    width: 1008px;
}
@media screen and (max-width: 1008px){
    .container_12{
        width: 100%;
        padding: 0px 10px;
    }
}
html{
    scroll-behavior: smooth;
}

/* nav-section */

.in-fs{
    font-size: 14px;
    color: #aaa;
}
.acc-list li a{
    font-size: 14px;
    color: #999;
    transition: 0.5s;
}
.acc-list li a:hover{
    color: #fff;
    background-color: #59b7c2;
    padding: 8px 10px;
    border-radius: 2px;
}
.acc-list2{
    background-color: #eee;
    color: #000;
    padding: 8px 10px;
    border-radius: 2px;
    transition: 0.5s;
}
.sep{
    color: #e0e0e0;
}
.nav-list li a{
    color: #000;
    font-weight: 400;
}
.nav-list li a:hover{
    background-color: #d5e4f1;
    border: none;
}
@media screen and (max-width: 1008px){
    .justify{
        justify-content: center;
        display: grid;
    }
}
.direction i{
    background-color: #eee;
}

/* breadcrumb-section */

.bread li a{
    color: #999;
    font-size: 12px;
    text-decoration: none;
}
.bread li a:hover{
    text-decoration: underline;
}

/* category-section */

.categories h5{
    font-size: 18px;
    color: #444;
}
.categories ul li a{
    font-size: 13px;
    color: #444;
}
.categories ul li:hover{
    background-color: #f5f7f9;
}
.categories ul li hr{
    color: #aaa;
    margin: 5px 0px 10px 0px!important;
}

/* shop-by */

.shop h5{
    font-size: 18px;
    color: #444;
}
.shop p{
    font-size: 12px;
    color: #444;
    margin-bottom: 20px;
}
.close{
    color: #59b7c2!important;
    font-weight: 600;
    margin: 0px 10px!important;
}
.close span{
    color: #444!important;
}

/* category */

.category h5{
    font-size: 16px;
    font-weight: 600;
}

/* special */

.special-hr{
    color: #ccc;
}
.spec p{
    color: #444;
}
.spec p span{
    color: #59b7c2;
}

/* Newsletter-Signup */

.news h5{
    font-size: 18px;
    color: #444;
}
.news p{
    font-size: 12px;
    color: #444;
    margin-bottom: 20px;
}
.news input{
    font-size: 12px;
}
.subscribe-btn{
    background-color: #59b7c2;
    color: #fff;
    font-weight: 600;
    padding: 7px 30px;
    margin-top: 10px;
}
.subscribe-btn:hover{
    background-color: #2ab4c4;
    box-shadow: 0px 0px 3px #2ab4c4;
    color: #fff;
}

/* Product List */

.grid-box{
    border: 1px solid #ccc;
}
.fill{
    font-size: 20px;
    background-color: #f5f7f9;
    border-right: 1px solid #ccc;
    padding: 12px 20px;
}
.fill a{
    color: #000;
}
.task{
    font-size: 25px;
    border-right: 1px solid #ccc;
    padding: 8px 20px;
}
.task a{
    color: #aaa;
}
.sort{
    border: 1px solid #ccc;
}
.aerrow{
    background-color: #eee;
    padding: 10px;
}
@media screen and (max-width:768px){
    .show{
        display: none!important;
    }
}
/* product */

.product-img{
    background-color: #fafafa;
    justify-content: center;
    display: flex;
    padding: 10px 0px 10px 0px;
    height: 210px;
}
.product-img1{
    padding: 67px 20px;
}
.sale{
    margin: -4px 0 0 -4px;
    z-index: 999;
}
.product-img-bg{
    background-color: #fff!important;
}
.card-txt{
    font-size: 14px;
    margin-top: 10px;
}
.product-box{
    border: 1px solid #ccc;
    padding: 0!important;
}
.product-box:hover{
    border: 1px solid #59b7c2;
}
.product-price{
    border-top: 1px solid #ccc;
}
.product-price .new{
    font-size: 12px;
    color: #2e8f9a;
    font-weight: 500;
}
.product-price .old{
    font-size: 11px;
}
.product-btn{
    border-left: 1px solid #ccc;
    padding: 9px;
}
.product-btn-bg{
    background-color: #eee;
}
.product-btn-bg:hover{
    background-color: #eff7ff;
}

/* footer-section */

.footer{
    padding: 50px 0px 50px 0px;
}
.footer-text{
    font-size: 12px;
}
.footer-head{
    font-size: 18px;
}
.footer-text p a{
    text-decoration: none;
    color: #777;
}
.footer-text p a:hover{
    text-decoration: underline;
}

/* footer-info-section */

.footer-social a{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    margin: 0px 5px;
    border-radius: 50%;
    padding: 2px 4px;
}
.facebook:hover{
    background-color: #0000ff;
}
.twitter:hover{
    background-color: #2e8f9a;
}
.google:hover{
    background-color: #ff0000;
}